.product-section {

  .card {
    background-color: white;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;

    .img-product {
      width: 166px;
      height: 166px;
      object-fit: contain;
      margin: auto;
    }

  }

}

:host ::ng-deep {

  .dialog-product {

    .p-dialog {
      box-shadow: none;
      height: 100vh;
      max-height: 100%;

      @media (min-width: 768px) {
        height: auto;
        max-height: revert-layer;
      }


    }

    .p-component-overlay {
        -webkit-backdrop-filter: blur(5px) !important;
        backdrop-filter: blur(5px) !important;
        background-color: rgb(0 0 0 / 7%) !important;
    }

    .p-dialog-content, .p-dialog-header {
      background-color: #F9F9F9;
    }

    .p-dialog-content {
      padding-bottom: 120px;

      @media (min-width: 768px) {
        padding-bottom: 40px;
      }
    }

    .p-dialog-header {
      @media (min-width: 768px) {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
      }
    }

    .p-dialog-content {

      @media (min-width: 768px) {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
      }

    }

    .img-product {
      width: 200px;
      margin: auto;
      object-fit: contain;

      @media (min-width: 800px) {
        width: 260px;
      }

      @media (min-width: 1280px) {
        width: 353px;
      }

    }

    .content-button {

      width: 100%;

      .p-button {
        height: 100% !important;
        width: 100% !important;
        box-shadow: none;
      }
    }


  }


}