.product-section {

  .card {
    background-color: white;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;

    .img-product {
      width: 166px;
      height: 166px;
      object-fit: contain;
      margin: auto;
    }

  }

}