.product-section {

  .card {
    background-color: white;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;

    .img-product {
      width: 166px;
      height: 166px;
      object-fit: contain;
      margin: auto;
    }

  }

}

:host ::ng-deep {

  .dialog-product {

    .p-component-overlay {
        -webkit-backdrop-filter: blur(5px) !important;
        backdrop-filter: blur(5px) !important;
    }

    .p-dialog-content, .p-dialog-header {
      background-color: #F9F9F9;
    }

    .img-product {
      width: 353px;
      height: 397px;
      margin: auto;
      object-fit: contain;
    }

    .content-button {
      .p-button {
        height: 100% !important;
        width: 100% !important;
        box-shadow: none;
      }
    }


  }


}