<section class="px-[30px] py-[70px]">
  <p class="text-[20px] font-semibold mb-8">
    Categorías
  </p>

  <div class="flex gap-4 overflow-x-auto scroll-pl-6 snap-x snap-mandatory flex space-x-4">

    @for (product of products; track product.id ) {

     <div class="card px-[20px] py-[20px] rounded-[20px] snap-start shrink-0 flex items-center gap-[10px]">
        <img [src]="product.category === `men's clothing` ? '/ropa.png'
          : (product.category === 'jewelery') ? '/regalo.png'
          : (product.category === 'electronics') ? '/juegos.png'
          : (product.category === `women's clothing`) ? '/maleta.png' : ''" alt="">
        <p class="text-[18px]">{{product.category}}</p>
    </div>

    } @empty {
      <p>no hay productos</p>
    }


  </div>

</section>