<section class="px-[30px] py-[70px] categories-section">
  <p class="text-[20px] font-semibold mb-8">
    Categorías
  </p>

  <div class="flex gap-4 overflow-x-auto scroll-pl-6 snap-x snap-mandatory flex space-x-4 scrollable" cdkScrollable>

    @for (categorie of categories; track categorie.id ) {

     <div class="card px-[20px] py-[20px] rounded-[20px] snap-start shrink-0 flex items-center gap-[10px]" >
        <img [src]="categorie.category === `men's clothing` ? 'assets/images/ropa.png'
          : (categorie.category === 'jewelery') ? 'assets/images/regalo.png'
          : (categorie.category === 'electronics') ? 'assets/images/juegos.png'
          : (categorie.category === `women's clothing`) ? 'assets/images/maleta.png' : ''" alt="">
        <p class="text-[18px]">{{categorie.category}}</p>
    </div>

    } @empty {
      <div class="flex gap-4">
        <p-skeleton width="10rem" height="4rem" />
        <p-skeleton width="10rem" height="4rem" />
        <p-skeleton width="10rem" height="4rem" />
        <p-skeleton width="10rem" height="4rem" />
      </div>

    }


  </div>

</section>