@tailwind base;
@tailwind components;
@tailwind utilities;


header {
  .link {
   font-family: 'Satoshi-Medium';
  }

}

.text-form {
  font-family: 'Satoshi-Bold';
}

:host ::ng-deep {

  .input {
    font-family: 'Satoshi-Medium';
  }

}

